<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="CslaAuthentication" value="CSLA"/>
  </appSettings>
  <connectionStrings>
    <add name="SCTConnStr" connectionString="Data Source=ITC003;Initial Catalog=ServerComputerTracking;User ID=sa;Password=intellimatica;Provider=SQLOLEDB;Persist Security Info=True;Packet Size=4096" providerName="System.Data.OleDb"/>
  </connectionStrings>
    <system.web>
      
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
</configuration>
