<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CslaAuthentication" value="Csla" />
  </appSettings>
  <connectionStrings>
    <add name="SCTConnStr" connectionString="Data Source=ITC003;Initial Catalog=ServerComputerTracking;User ID=sa;Password=intellimatica;Provider=SQLOLEDB;Persist Security Info=True;Packet Size=4096" providerName="System.Data.OleDb"/>
  </connectionStrings>
</configuration>
